<section class="new-post">
  <h2>Create New Post</h2>
  <form class="card-body create-post">
    <div class="form-floating mb-3">
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
    </div>
    <div class="form-floating mb-3">
      <textarea id="content" name="content" placeholder="Your Content Here"></textarea>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-info mb-3 create-btn">Create</button>
  </form>
</section>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>

  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a class="edit-link" href="/dashboard/edit/{{post.id}}">Edit post</a>
    </li>
    {{/each}}
  </ol>

</section>
{{/if}}





<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>


