<div class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body edit-post-form" id="edit-post-form">

        <div class="form-floating mb-3">
          <label for="post-title" class="form-label"></label>
          <input name="post-title" type="text" placeholder="{{post.title}}" class="form-input w-100" placeholder="Title" />
        </div>

        <div class="form-floating mb-3">
          <label class="form-label" for="content"></label>
          <textarea name="content" type="text" placeholder="{{post.content}}" class="form-input w-100" style="height: 100px"/></textarea>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-info mb-3">
          Update
        </button>

        <button type="button" class="delete-post-btn w-100 btn btn-lg btn-danger mb-3">
          Delete
        </button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
