{{#if loggedIn}}
<div class="welcome-banner">
  <h2>We have the posts for you!</h2>
</div>
{{else}}
<div class="sign-up-banner">
  <h2>Join us today and start contributing!</h2>
  <a class="anchor-link" href="/login">SIGN UP!</a>
</div>
{{/if}}
<br>

<ol class="post-list list-group list-group-numbered">
  {{#each posts as |post|}}
  <li class="list-group-item">
      {{> post-info post }}
  </li>
  <br>
  {{/each}}
</ol>